/* ----------------------------------------- */
/*  LOCAL FONTS                             */
/* ----------------------------------------- */
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia.ttf");
}

@font-face {
  font-family: "Georgia";
  font-weight: bold;
  src: url("../fonts/georgiab.ttf");
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  src: url("../fonts/georgiai.ttf");
}

@font-face {
  font-family: "Georgia";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/georgiaz.ttf");
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
  font-family: "MyriadPro";
  font-style: italic;
  src: url("../fonts/MyriadPro-It.otf");
}

@font-face {
  font-family: "MyriadPro";
  font-weight: bold;
  src: url("../fonts/MyriadPro-Bold.otf");
}

@font-face {
  font-family: "MyriadPro";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/MyriadPro-BoldIt.otf");
}

@font-face {
  font-family: "MyriadProLight";
  src: url("../fonts/MyriadPro-Light.otf");
}

@font-face {
  font-family: "MyriadProBlack";
  src: url("../fonts/MyriadPro-Black.otf");
}

.ellipsis {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Global styles */
.window-app {
  font-family: "MyriadPro", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.no-wrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flexcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.flexrow > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flexrow .flex0 {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flexrow .flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flexrow .flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flexrow .flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flexrow .flex4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flexrow .flex5 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.flexrow .flex6 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.flexrow .flex7 {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
}

.flexrow .flex8 {
  -webkit-box-flex: 8;
  -ms-flex: 8;
  flex: 8;
}

.flexrow .flex9 {
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
}

.flexcol > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flexcol .flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flexcol .flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flexcol .flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flexcol .flex4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

/* Styles limited to wod sheets */
.wod .tabs {
  height: 40px;
  max-height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.wod .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.wod .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.wod .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.wod .items-list .item-header {
  font-weight: bold;
}

.wod .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.wod .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.wod .items-list .item img {
  display: block;
}

.wod .items-list .item-name {
  margin: 0;
}

.wod .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

.wod .window-content {
  background: white;
  background-image: url("../ui/logo-v20.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position-x: center;
  background-position-y: top;
}

.wod .window-content .sidebar {
  background: yellow;
}

.wod .window-content .wrap {
  background: pink;
}

.wod .window-content .wrap .sheet-header {
  background: red;
}

.wod .window-content .wrap .sheet-tabs {
  background: green;
}

.wod .window-content .wrap .sheet-body {
  background: blue;
}
