//@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap');

/* ----------------------------------------- */
/*  LOCAL FONTS                             */
/* ----------------------------------------- */

@font-face {
  font-family: "Georgia";
  src: url('../fonts/georgia.ttf');
}

@font-face {
  font-family: "Georgia";
  font-weight: bold;
  src: url('../fonts/georgiab.ttf');
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  src: url('../fonts/georgiai.ttf');
}

@font-face {
  font-family: "Georgia";
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/georgiaz.ttf');
}

@font-face {
  font-family: "MyriadPro";
  src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
  font-family: "MyriadPro";
  font-style: italic;
  src: url('../fonts/MyriadPro-It.otf');
}

@font-face {
  font-family: "MyriadPro";
  font-weight: bold;
  src: url('../fonts/MyriadPro-Bold.otf');
}

@font-face {
  font-family: "MyriadPro";
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/MyriadPro-BoldIt.otf');
}

@font-face {
  font-family: "MyriadProLight";
  src: url('../fonts/MyriadPro-Light.otf');
}

@font-face {
  font-family: "MyriadProBlack";
  src: url('../fonts/MyriadPro-Black.otf');
}

@font-face {
  font-family: "Werewolf";
  src: url('../fonts/werewolf.ttf');
}

@font-face {
  font-family: "GoudyOldStyle";
  src: url('../fonts/GoudyOldStyle.ttf');
}

@font-face {
  font-family: "CaflischScriptPro";
  src: url('../fonts/caflischscriptpro-regular.otf');
}

@font-face {
  font-family: "CaflischScriptPro";
  src: url('../fonts/caflischscriptpro-regular.otf');
}

@font-face {
  font-family: "Delavan";
  src: url('../fonts/delavan.ttf');
}

//$font-primary: 'Roboto', sans-serif;
//$font-secondary: 'Roboto', sans-serif;
//$font-primary: 'MyriadPro', sans-serif;
//$font-secondary: 'MyriadPro', sans-serif;

$font-primary: 'MyriadPro', sans-serif;
$font-secondary: "GoudyOldStyle", Serif;

//$font-primary: 'Georgia', sans-serif;
//$font-secondary: 'Georgia', sans-serif;

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}