<h3 class="form-header">{{localize "WOD.ui.properties"}}</h3>
<div class="form-group">
    <label>{{ localize "WOD.ui.level" }}</label>
    <div class="form-fields">
        <input type="number" name="data.level" value="{{data.level}}" placeholder="{{localize "WOD.ui.level"}}" data-dtype="Number"/>
    </div>
</div>
