<div class="talents flex-group-center">
    <label class="section-title">{{localize "WOD.advantages.backgrounds"}}</label>
</div>
<div class="skills flex-group-center">
    <label class="section-title">{{localize "WOD.advantages.gifts"}}</label>
</div>
<div class="skills flex-group-center">
    <label class="section-title">{{localize "WOD.advantages.gifts"}}</label>
</div>
