<div class="attributes grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-attributes.hbs"}}
</div>
<div class="abilities grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-abilities.hbs"}}
</div>
<div class="advantages grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-advantages.hbs"}}
</div>
<div class="resources grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-resources.hbs"}}
</div>
