<div class="section-header flexrow">
    <div class="flex3"></div>
    <label class="section-title">{{localize "WOD.attributes.label"}}</label>
    <div class="flex3"></div>
</div>
<div class="section-content attributes grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-attributes.hbs"}}
</div>
<div class="section-header flexrow">
    <div class="flex3"></div>
    <label class="section-title">{{localize "WOD.abilities.label"}}</label>
    <div class="flex3"></div>
</div>
<div class="section-content abilities grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-abilities.hbs"}}
</div>
<div class="section-header flexrow">
    <div class="flex3"></div>
    <label class="section-title">{{localize "WOD.advantages.label"}}</label>
    <div class="flex3"></div>
</div>
<div class="section-content advantages grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-advantages.hbs"}}
</div>
<div class="section-header flexrow">
    <div class="flex3"></div>
    <label class="section-title">{{localize "WOD.resources.label"}}</label>
    <div class="flex3"></div>
</div>
<div class="section-content resources grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-resources.hbs"}}
</div>