<div class="section-header flexrow">
    <div class="flex3"></div>
    <label class="section-title">{{localize "WOD.attributes.label"}}</label>
    <div class="flex3"></div>
</div>
<div class="section-content attributes grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-attributes.hbs"}}
</div>
<div class="section-header flexrow">
    <div class="flex3"></div>
    <label class="section-title">{{localize "WOD.abilities.label"}}</label>
    <div class="flex3"></div>
</div>
<div class="section-content abilities grid grid-3col">
    {{> "systems/wod/templates/actor/parts/actor-abilities.hbs"}}
</div>
{{#if (equals actor.type "werewolf")}}
    {{> "systems/wod/templates/actor/parts/werewolf/actor-secondary.hbs"}}
{{/if}}
{{#if (or (equals actor.type "vampire") (equals actor.type "vampire_da"))}}
    {{> "systems/wod/templates/actor/parts/vampire/actor-secondary.hbs"}}
{{/if}}
{{#if (equals actor.type "mage")}}
    {{> "systems/wod/templates/actor/parts/mage/actor-secondary.hbs"}}
{{/if}}
{{#if (equals actor.type "hunter")}}
    {{> "systems/wod/templates/actor/parts/hunter/actor-secondary.hbs"}}
{{/if}}
{{#if (equals actor.type "ghoul")}}
    {{> "systems/wod/templates/actor/parts/ghoul/actor-secondary.hbs"}}
{{/if}}
