<div class="flexrow flex-between resource bloodpool" data-namespace="resources" data-key="bloodpool" data-item-id="resources.bloodpool.temp" style="white-space: nowrap;">
    <div class="flex1">
        <div class="flexrow flex-between">
            <a class="rank" title="1" data-type="resource" data-value="1"><i class="far fa-square"></i></a>
            <a class="rank" title="2" data-type="resource" data-value="2"><i class="far fa-square"></i></a>
            <a class="rank" title="3" data-type="resource" data-value="3"><i class="far fa-square"></i></a>
            <a class="rank" title="4" data-type="resource" data-value="4"><i class="far fa-square"></i></a>
            <a class="rank" title="5" data-type="resource" data-value="5"><i class="far fa-square"></i></a>
            <a class="rank" title="6" data-type="resource" data-value="6"><i class="far fa-square"></i></a>
            <a class="rank" title="7" data-type="resource" data-value="7"><i class="far fa-square"></i></a>
            <a class="rank" title="8" data-type="resource" data-value="8"><i class="far fa-square"></i></a>
            <a class="rank" title="9" data-type="resource" data-value="9"><i class="far fa-square"></i></a>
            <a class="rank" title="10" data-type="resource" data-value="10"><i class="far fa-square"></i></a>
        </div>
        <div class="flexrow flex-between">
            <a class="rank" title="11" data-type="resource" data-value="11"><i class="far fa-square"></i></a>
            <a class="rank" title="12" data-type="resource" data-value="12"><i class="far fa-square"></i></a>
            <a class="rank" title="13" data-type="resource" data-value="13"><i class="far fa-square"></i></a>
            <a class="rank" title="14" data-type="resource" data-value="14"><i class="far fa-square"></i></a>
            <a class="rank" title="15" data-type="resource" data-value="15"><i class="far fa-square"></i></a>
            <a class="rank" title="16" data-type="resource" data-value="16"><i class="far fa-square"></i></a>
            <a class="rank" title="17" data-type="resource" data-value="17"><i class="far fa-square"></i></a>
            <a class="rank" title="18" data-type="resource" data-value="18"><i class="far fa-square"></i></a>
            <a class="rank" title="19" data-type="resource" data-value="19"><i class="far fa-square"></i></a>
            <a class="rank" title="20" data-type="resource" data-value="20"><i class="far fa-square"></i></a>
        </div>
        <div class="flexrow flex-between">
            <a class="rank" title="21" data-type="resource" data-value="21"><i class="far fa-square"></i></a>
            <a class="rank" title="22" data-type="resource" data-value="22"><i class="far fa-square"></i></a>
            <a class="rank" title="23" data-type="resource" data-value="23"><i class="far fa-square"></i></a>
            <a class="rank" title="24" data-type="resource" data-value="24"><i class="far fa-square"></i></a>
            <a class="rank" title="25" data-type="resource" data-value="25"><i class="far fa-square"></i></a>
            <a class="rank" title="26" data-type="resource" data-value="26"><i class="far fa-square"></i></a>
            <a class="rank" title="27" data-type="resource" data-value="27"><i class="far fa-square"></i></a>
            <a class="rank" title="28" data-type="resource" data-value="28"><i class="far fa-square"></i></a>
            <a class="rank" title="29" data-type="resource" data-value="29"><i class="far fa-square"></i></a>
            <a class="rank" title="30" data-type="resource" data-value="30"><i class="far fa-square"></i></a>
        </div>
        <div class="flexrow flex-between">
            <a class="rank" title="31" data-type="resource" data-value="31"><i class="far fa-square"></i></a>
            <a class="rank" title="32" data-type="resource" data-value="32"><i class="far fa-square"></i></a>
            <a class="rank" title="33" data-type="resource" data-value="33"><i class="far fa-square"></i></a>
            <a class="rank" title="34" data-type="resource" data-value="34"><i class="far fa-square"></i></a>
            <a class="rank" title="35" data-type="resource" data-value="35"><i class="far fa-square"></i></a>
            <a class="rank" title="36" data-type="resource" data-value="36"><i class="far fa-square"></i></a>
            <a class="rank" title="37" data-type="resource" data-value="37"><i class="far fa-square"></i></a>
            <a class="rank" title="38" data-type="resource" data-value="38"><i class="far fa-square"></i></a>
            <a class="rank" title="39" data-type="resource" data-value="39"><i class="far fa-square"></i></a>
            <a class="rank" title="40" data-type="resource" data-value="40"><i class="far fa-square"></i></a>
        </div>
        <div class="flexrow flex-between">
            <a class="rank" title="41" data-type="resource" data-value="41"><i class="far fa-square"></i></a>
            <a class="rank" title="42" data-type="resource" data-value="42"><i class="far fa-square"></i></a>
            <a class="rank" title="43" data-type="resource" data-value="43"><i class="far fa-square"></i></a>
            <a class="rank" title="44" data-type="resource" data-value="44"><i class="far fa-square"></i></a>
            <a class="rank" title="45" data-type="resource" data-value="45"><i class="far fa-square"></i></a>
            <a class="rank" title="46" data-type="resource" data-value="46"><i class="far fa-square"></i></a>
            <a class="rank" title="47" data-type="resource" data-value="47"><i class="far fa-square"></i></a>
            <a class="rank" title="48" data-type="resource" data-value="48"><i class="far fa-square"></i></a>
            <a class="rank" title="49" data-type="resource" data-value="49"><i class="far fa-square"></i></a>
            <a class="rank" title="50" data-type="resource" data-value="50"><i class="far fa-square"></i></a>
        </div>
    </div>
</div>
