.wrap {

  .sheet-header {

    .header-fields{
      .logo {
        background-image: url("../ui/werewolf/logo-v20.png") ;
        background-repeat: no-repeat;
        background-position-x : center;
        background-position-y : top;
        background-size: auto 150px;
        min-height:150px;
        height:150px;
        max-height:150px;
        margin-top:-30px;
      }
    }
  }

  .sheet-body {

    .section-header{
      background-image: url("../ui/werewolf/separator-short.png");
      .section-title {
        font-family: Werewolf;
        font-weight: bold;
        font-size: 30px;
      }
    }

    .main {
      .section-content {
        .section-title {
          font-family: Werewolf;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
}

