.window-content {
  background: white;

  .wrap {
    padding: 5px;

    .sheet-header {
      .portrait {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: center;

        outline: 4px solid white;
        background-color: lightgray;
        text-align: center;
        box-shadow: 5px 5px 5px gray;
        cursor: pointer;

        img {
          border: none;
          object-fit: contain;
          max-height: 250px;
          min-height: 250px;
          max-width: 190px;
          min-width: 190px;
          width: 190px;
          height: 250px;
        }
      }

      .header-fields {
        .logo {
          background-image: url("../ui/wod/wod.webp");
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: top;
          background-size: auto 130px;
          min-height: 130px;
          height: 130px;
          max-height: 130px;
          margin-left: -190px;
          margin-top: -10px;
        }

        .details {
          padding-left: 10px;
          margin-top: -15px;

          .field-label {
            font-family: $font-character;
            font-size: 14px;
          }
        }

        .sheet-tabs {
          border: none;
          font-family: $font-character;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }

    .sheet-body {
      .tab {
        height: 100%;

        .section-header {
          text-align: center;
          min-height: 50px;
          height: 50px;
          max-height: 50px;
          align-items: center;
          justify-items: center;

          font-family: $font-secondary;
          background-color: white;
          background-image: url("../ui/wod/separator.webp");
          background-repeat: no-repeat;
          background-size: 100% 37px;
          background-position-y: center;

          .section-title {
            background-color: white;
            font-family: $font-character;
            font-size: 24px;
            padding: 0 10px;
            margin: 0 10px 0 10px;
          }
        }

        &.main {
          .section-content {
            margin-top: -10px;

            .section-title {
              font-family: $font-character;
              font-size: 18px;
            }

            .score {
              .score-label {
                font-family: $font-secondary;
                font-size: 16px;

                &.active {
                  text-decoration: underline;
                }
              }

              .rank {
                font-size: 12px;
                &.temp {
                  color: red;
                }
              }

              .reset {
                font-size: 12px;
                visibility: hidden;
              }
              &:hover {
                .reset {
                  visibility: visible;
                }
              }

              .score-value {
                display: block;
              }
              .resource-value {
                display: flex;
                //flex-wrap: nowrap;
                //flex: 0 0 0;
              }

              .resource-curres {
                display: flex;
                //flex-wrap: nowrap;
                //flex: 0 0 0;
              }
            }

            .health {
              .health-rank-label, .health-rank-malus {
                font-family: $font-secondary;
                font-size: 16px;
              }

              .health-rank-value {
                .health-rank-box {
                }
              }
            }
          }
        }
      }
    }
  }
}