.wrap {

  padding: 5px;

  .toolbar {
    position: absolute;
    float: right;
    top: 32px;
    z-index: 1000;
    left: 3px;

    .btn {
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      padding: 0 5px;
      background: white;
      //background: rgba(220, 220, 220, 0.9);
      box-shadow: 0 0 5px #999 inset;
      border: 1px outset #999;
      border-radius: 3px;
      margin-bottom: 2px;
      color:#777;

      &.active {
        border: 1px inset #999;
        background: rgba(180, 180, 180, 0.9);
        color:#333;
      }
    }
  }

  .sheet-header {
    .logo {
      margin-left: -190px;
    }

    .portrait {
      display: flex;
      //flex-direction: column;
      flex-wrap: nowrap;
      align-items:center;
      justify-content:center;
      align-content:center;

      //background-color: white;
      outline: 4px solid white;
      background-color: lightgray;
      min-height: 250px;
      height: 250px;
      max-height: 250px;
      min-width: 190px;
      width: 190px;
      max-width: 190px;
      text-align: center;
      //border-radius: 4px;
      box-shadow: 5px 5px 5px gray;
      cursor: pointer;
      //margin: -10px 10px 0 -10px;
      //border: 1px solid gray;

      img {
        border:none;
        //min-height: 250px;
        max-height: 250px;
        //height: 250px;
        //min-width: 190px;
        max-width: 190px;
        width: 190px;
      }
    }

    .header-fields {
      .details {
        padding-left: 10px;
        margin-top: -15px;
      }

      .sheet-tabs {
        border: none;
      }
    }
  }

  .sheet-body {

    .section-header {
      font-family: $font-secondary;
      background-color: white;
      text-align: center;
      min-height: 50px;
      height: 50px;
      max-height: 50px;
      align-items: center;
      justify-items: center;
    }

    .main {
      .section-content {
        margin-top: -10px;

        .health {
          .health-rank-label, .health-rank-malus {
            font-family: $font-secondary;
            font-size: 16px;
          }

          .health-rank-value {
            .health-rank-box {
            }
          }
        }

        .score {
          .score-label {
            font-family: $font-secondary;
            font-size: 16px;

            &.active {
              text-decoration: underline;
            }
          }

          .rank {
            font-size: 12px;

            &.temp {
              color: red;
            }
          }

          .reset {
            font-size: 12px;
            visibility: hidden;
          }

          &:hover {
            .reset {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}


