.wrap {

  .sheet-header {

    .header-fields{
      .logo {
        background-image: url("../ui/mage/logo.png") ;
        background-repeat: no-repeat;
        background-position-x : center;
        background-position-y : top;
        background-size: auto 130px;
        min-height:130px;
        height:130px;
        max-height:130px;
        margin-top:-20px;
        margin-bottom:10px;
      }
      .details {
        .field-label{
          font-family: $font-mage;
          font-size: 14px;
        }
      }
      .sheet-tabs {
        font-family: $font-mage;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  .sheet-body {

    .section-header{
      background-image: url("../ui/mage/separator.png");
      background-repeat: no-repeat;
      background-size: 100% 22px;
      background-position-y: center;
      .section-title {
        background-color:white;
        font-family: $font-mage;
        font-weight: bold;
        font-size: 25px;
        padding:0 10px 0 10px;
        margin:0 10px 0 10px;
      }
    }

    .main {
      .section-content {
        .section-title {
          font-family: $font-mage;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

