.wrap {

  .sheet-header {

    .header-fields{
      .logo {
        background-image: url("../ui/vampire/logo-v20.png") ;
        background-repeat: no-repeat;
        background-position-x : center;
        background-position-y : top;
        background-size: auto 130px;
        min-height:130px;
        height:130px;
        max-height:130px;
        margin-top:-10px;
      }
      .sheet-tabs {
        font-family: Delavan;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  .sheet-body {

    .section-header{
      background-image: url("../ui/vampire/separator.png");
      background-repeat: no-repeat;
      background-size: 100% 37px;
      .section-title {
        background-color:white;
        font-family: Delavan;
        font-weight: bold;
        font-size: 20px;
        padding:0;
        margin:-10px 10px 0 10px;
      }
    }

    .main {
      .section-content {
        .section-title {
          font-family: Delavan;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

