.wrap {

  .sheet-header {

    .header-fields{
      .logo {
        background-image: url("../ui/werewolf/logo-v20.png") ;
        background-repeat: no-repeat;
        background-position-x : center;
        background-position-y : top;
        background-size: auto 150px;
        min-height:150px;
        height:150px;
        max-height:150px;
        margin-top:-30px;
      }
      .sheet-tabs {
        font-family: $font-werewolf;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }

  .sheet-body {

    .section-header{
      background-image: url("../ui/werewolf/separator-short.png");
      background-repeat: repeat-x;
      background-size: 311px 37px;

      .section-title {
        background-color:white;
        font-family: $font-werewolf;
        font-weight: bold;
        font-size: 30px;
        padding:5px 10px 5px 10px;
        margin:0 10px 0 10px;
        box-shadow: 0 0 10px white;
      }
    }

    .main {
      .section-content {
        .section-title {
          font-family: $font-werewolf;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
}

